<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/securityMain.html">
    <div layout:fragment="theContent">
        <div class="row">
            <div class="col-sm-8 offset-2">
                <form th:action = "@{'/saveitem'}" method="post">
                    <input type="hidden" th:value = "${item.id}" name="id">
                    <div class="form-group">
                        <label>NAME : </label>
                        <input type="text" name="name" class="form-control" th:value = "${item.name}">
                    </div>
                    <div class="form-group">
                        <label>PRICE : </label>
                        <input type="number" name="price" class="form-control" th:value = "${item.price}">
                    </div>
                    <div class="form-group" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                        <button class="btn btn-success">SAVE ITEM</button>
                    </div>
                </form>
                <form th:action = "@{'/delete'}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
                    <input type="hidden" th:value = "${item.id}" name="id">
                    <button class="btn btn-danger">DELETE ITEM</button>
                </form>
            </div>
        </div>
    </div>
</html>